*{
    margin: 0;
    padding: 0;
    color: goldenrod;
}

#tytul{
    text-align: center;
}

ul li a{
    display: block;
    padding: 10px;
    color: goldenrod;
    text-decoration: none;
}

ul li a:hover{
    background-color: #111111;
}

ul{
    list-style-type: none;
    background-color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header{
    background-color: #333333;
    text-align: center;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/background.webp");
    background-size: cover;
    background-position: unset;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    text-align: center;
    background-color: #333333;
    padding: 7px;
    margin-top: auto;
}

.content {
    background-color: #333333e0;
    margin: 65px;
    padding: 30px;
    border-radius: 25px;
    border: 2px solid black;
    overflow: hidden;
    font-size: large;
    font-weight: 500;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

img{
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    margin: 5px;
}

.img1 {
    margin-bottom: 100px;
}

.img1 img {
    float: right;
}

.img2 {
    margin-bottom: 100px;
}

.img2 img {
    float: left;
}

.img2 p{
    width: fit-content;
}

.img3 {
    margin-top: 300px;
    align-items: start;
}

.img3 img {
    float: right;
}

table, th, td{
    border: solid 1px;
    border-collapse: collapse;
}

table{
    text-align: center;
    width: 25%;
    float: right;
}

th, td{
    padding: 5px 0 5px 0;
}

form input,textarea {
    color: black;
}

#name, #email {
    width: 200px;
}

form textarea {
    width: 50%;
    height: 300px;
}

button {
    padding: 5px;
    background-color: #333333;
    color: goldenrod;
    border-radius: 15px;
    text-align: center;
}

button:hover {
    background-color: #111111;
}

.linia{
    display: inline-block;
}

.zdjecia{
    text-align: center;
    float: left;
}

.zdjecia img{
    width: 200px;
    height: 200px;
}

.plakaty{
    text-align: center;
    float: left;
}

.plakaty img{
    width: 200px;
    height: 300px;
}

.filmy{
    text-align: center;
}

.podstrony {
    display: grid;
    align-content: center;
}

.lista_podstron {
    text-align: center;
}

.logowanie_text{
    color: black;
}

.logowanie{
    text-align: center;
}

.input_button{
    padding: 5px;
    background-color: #333333;
    color: goldenrod;
    border-radius: 15px;
    text-align: center;
}

.contact{
    text-align: center;
}