/* Zmienne */
:root {
    --primary-bg: #222222e3;
    --secondary-bg: #333333e3;
    --hover-color: #fedb83e6;
    --input-bg: #444444e3;
    --input-border: rgba(200, 200, 255, 0.3);
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --shadow-sm: 0 0 5px rgba(0, 0, 0, 0.3);
    --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.3);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #FFFFFF;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: goldenrod;
}


html {
    height: 100%;
}

/* Header i nawigacja */
header {
    background-color: var(--secondary-bg);
    text-align: center;
    padding: var(--spacing-sm) 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: var(--spacing-sm);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--hover-color);
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-bg);
    min-width: 160px;
    box-shadow: var(--shadow-lg);
    z-index: 101;
}


.dropdown-content a {
    padding: var(--spacing-sm);
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Div */
.content {
    flex: 1;
    margin: 30px auto;
    width: fit-content;
    min-width: 300px;
    max-width: 1200px;
    padding: 30px var(--spacing-md);
    background-color: var(--primary-bg);
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    position: relative;
    z-index: 1;
}

/* Formularz */
.form {
    background-color: var(--secondary-bg);
    padding: var(--spacing-md);
    border-radius: 8px;
    margin: var(--spacing-md) 0;
}

button, .button {
    padding: 10px 20px;
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .button:hover {
    background-color: var(--hover-color);
}

/* Test */
.test-block {
    padding: var(--spacing-md);
    text-align: center;
    border-radius: 8px;
    margin: var(--spacing-md) 0;
    background-color: var(--secondary-bg);
}

/* Footer */
footer {
    background-color: var(--secondary-bg);
    text-align: center;
    padding: var(--spacing-sm) 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: auto;
}

/* Zegar i data */
#zegarek, #data {
    text-align: center;
    margin: var(--spacing-sm);
}
